/* phones */
@media only screen and (max-width : 767px) {
    body {font-size: 12px;}
    .albmpict-timebar-txt-from, .albmpict-timebar-txt-until {font-size: 12px;}
    #settings_box {font-size: 12px;font-weight: bold;}
    #settings_lng {font-size: 16px;}
    #forbiddenBox {width:96%;}
}

/* iPads, portrait */
@media only screen and (min-width : 768px) and (max-width : 999px) {
    body {font-size: 16px;}
    .albmpict-timebar-txt-from, .albmpict-timebar-txt-until {font-size: 12px;}
    #settings_box {font-size: 18px;font-weight: bold;}
    #settings_lng {font-size: 24px;}
    #forbiddenBox {width:90%;}
}

/* smaller screens */
@media only screen and (min-width : 1000px) and (max-width : 1349px) {
    body {font-size: 16px;}
    .albmpict-timebar-txt-from, .albmpict-timebar-txt-until {font-size: 12px;}
    #settings_box {font-size: 18px;font-weight: bold;}
    #settings_lng {font-size: 24px;}
    #forbiddenBox {width:80%;}
}

/* medium screens */
@media only screen and (min-width : 1350px) and (max-width : 1799px) {
    body {font-size: 16px;}
    .albmpict-timebar-txt-from, .albmpict-timebar-txt-until {font-size: 12px;}
    #settings_box {font-size: 18px;font-weight: bold;}
    #settings_lng {font-size: 24px;}
    #forbiddenBox {width:60%;}
}

/* big screens */
@media only screen and (min-width : 1800px) {
    .albmpict-timebar-txt-from, .albmpict-timebar-txt-until {font-size: 12px;}
    #settings_box {font-size: 18px;font-weight: bold;}
    #settings_lng {font-size: 24px;}
    #forbiddenBox {width:50%;}
}


button:focus, input:focus {outline:0 !important}

html {
    background-color: #F0EDE3;
}
body {
    font-family: oxygen, sans-serif;
}

/*
#albmdscr {

}*/

#header {
    width: 100%;
    height: 3em;
    
    color: white;
    background-color: black;
    box-shadow: 0px 0px 30px 5px black;
    
    text-align: center;
    
    z-index: 10;
    position:fixed;
    top:-3em;
    left:0;
    transition: top 1s ease, height 0.3s ease;    
    overflow: hidden;
}

#menu {
	width: 100%;
    height: 3em;
    overflow: hidden;
    position:relative;
}

/*
#menu.progress {
    background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0,0,0,0.2) 33%, 
                               rgba(0,0,0,0.2) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25));
    background-image:
       -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0,0,0,0.2) 33%, 
                               rgba(0,0,0,0.2) 66%, transparent 66%),
       -moz-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25));
    background-image:
       linear-gradient(-45deg, 
                               transparent 33%, rgba(0,0,0,0.2) 33%, 
                               rgba(0,0,0,0.2) 66%, transparent 66%),
       linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25));
    background-size: 14em 7em, 100% 100%;
    -webkit-animation: animate-menu-stripes 1s linear infinite;
    -moz-animation: animate-menu-stripes 1s linear infinite;
    animation: animate-menu-stripes 1s linear infinite;    
}
@-webkit-keyframes animate-menu-stripes {
   100% { background-position: 14em 0px; }
}
@-moz-keyframes animate-menu-stripes {
   100% { background-position: 14em 0px; }
}
@keyframes animate-menu-stripes {
   100% { background-position: 14em 0px; }
}*/

#albmdiv{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#cntnt{
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: top 0.3s ease;
    transform:translate3d(0,0,0);
}
#path{
    margin: 0;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.path-elm-touch {
    /*font-weight:bold;*/
    font-size:2em;
    padding: 0 20px;
    display:inline-block;
    margin: 0.2em 0.1em;
    height:1em;
    line-height: 0.9em;

    border: 2px solid white;

    -moz-border-radius: 0.5em 2.5em 0.5em 2.5em;
    -webkit-border-radius: 0.5em 2.5em 0.5em 2.5em;
    border-radius: 0.5em 2.5em 0.5em 2.5em;
}
.path-elm-nontouch {
    /*font-weight:bold;*/
    padding: 0.5em 10px;
    display:inline-block;
    margin: 0.4em 0.1em;
    height:1em;

    border: 2px solid white;

    -moz-border-radius: 0.5em 2.5em 0.5em 2.5em;
    -webkit-border-radius: 0.5em 2.5em 0.5em 2.5em;
    border-radius: 0.5em 2.5em 0.5em 2.5em;
}
.path-elm-nontouch:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

#toolbar {
    height:100%;
    position: absolute;
    right:0px;
    top:0px;
    text-align: right;
    /*background-color:red;*/
}
#menu-btn {
    height:3em;
    width:3em;
    display: inline-block;
    fill:white;
    stroke:white;
}
#menu-btn.nontouch:hover{
    cursor: pointer;
    background-color: white;
    fill:black;
    stroke:black;
}
#attention-btn{
    height:2.2em;
    width:3em;
    padding: 0 0 0.5em 0;
    display: inline-block;
}
#attention-btn.nontouch:hover{ 
    cursor: pointer;
    background-color: white;
}
#attention-btn.highlighted{ 
    background-color: white;
}
#msg-container {
	position: relative;
	display: inline-block;
	height: 3em;
	width: 5em;
}
#album-title {
    font-size: 1.8em;
    /*font-weight:bold;*/
    padding: 0;
    display:inline-block;
    margin: 0.1em;
    max-width:70%;
    overflow-y:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
#album-picsnalbms{
    font-size: 0.7em;
    position: absolute;
    bottom: 0.1em;
    left: 0;
    right: 0;
}

#album-timebar{
    margin:0 auto;
    width: 98%;
    display: none;
}

.albmdscr-elm{
    padding: 1em;
    margin: 2em auto;
    text-align: left;
}

/**** full-width toolbars ****/
.fwToolbar {
	/*
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;*/
	width:100%;
	overflow:hidden;
	
	background-color: black;
	margin: 0 auto;
	display: none;
	opacity: 0;
	
	transition: opacity 0.3s ease;    
}

#tbEdit {
	text-align: left;
	padding: 0 0.2em 0 0.2em;
	height: 2em;
}
.tbButtons {
	height:100%;
	display:inline-block;
}
.blueButton {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100 */
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #1e5799 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7db9e8 0%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
	
	color: white;
	font-size: 1em;
	padding: 0.2em 1em;
	border: none;
	border-radius: 1em;
}
.blueButton:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d8e2+0,346296+100 */
	background: #c9d8e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9d8e2 0%, #346296 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c9d8e2 0%,#346296 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c9d8e2 0%,#346296 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9d8e2', endColorstr='#346296',GradientType=0 ); /* IE6-9 */
}

.tbCloseBtn {
	position: absolute;
	right: 0;
	margin-right: 0.2em;
}

#tbScanning {
	font-size: 0.6em;
	line-height: 1em;
	height: 1em;
	padding:0;
	font-style: italic;

    background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0,0,0,0.2) 33%, 
                               rgba(0,0,0,0.2) 66%, transparent 66%);
    background-image:
       -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0,0,0,0.2) 33%, 
                               rgba(0,0,0,0.2) 66%, transparent 66%);
    background-image:
       linear-gradient(-45deg, 
                               transparent 33%, #5482C6 33%, 
                               #346296 66%, transparent 66%);
    background-size: 5em 1em;
    -webkit-animation: animate-scanning-stripes 0.3s linear infinite;
    -moz-animation: animate-scanning-stripes 0.3s linear infinite;
    animation: animate-scanning-stripes 0.3s linear infinite;  
    
}
@-webkit-keyframes animate-scanning-stripes {
   100% { background-position: 5em 0px; }
}
@-moz-keyframes animate-scanning-stripes {
   100% { background-position: 5em 0px; }
}
@keyframes animate-scanning-stripes {
   100% { background-position: 5em 0px; }
}


/**** Elements describing album elements*/
.albmpict-elm{
    padding: 1px 0 0 0;
    margin: 2em auto;
    text-align: left;
    background-color: white;
    color:black;
    
    
    border: thin solid;
    border-color: #DDDACF #CCC8B8 #BBB59F #CCC8B8;
    box-shadow: 0 0.1em 0.3em #CCC8B8;
    border-radius: 5px;

    /*-webkit-user-select: none;*/
}
.albmpict-header{
    /*background-color: rgba(255,255,255,0.8);*/
    text-align: center;
    position: relative;
    border-radius: 5px;
    margin: 0px;
        /*background-color: red;*/
}
.albmpict-header.progress {
	/*
    background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0,0,0,0.2) 33%, 
                               rgba(0,0,0,0.2) 66%, transparent 66%);
    background-image:
       -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0,0,0,0.2) 33%, 
                               rgba(0,0,0,0.2) 66%, transparent 66%);
    background-image:
       linear-gradient(-45deg, 
                               transparent 33%, rgba(0,0,0,0.1) 33%, 
                               rgba(0,0,0,0.05) 66%, transparent 66%);
    background-size: 14em 7em;
    -webkit-animation: animate-albmhdr-stripes 1s linear infinite;
    -moz-animation: animate-albmhdr-stripes 1s linear infinite;
    animation: animate-albmhdr-stripes 1s linear infinite;   
    */ 
}
@-webkit-keyframes animate-albmhdr-stripes {
   100% { background-position: 14em 0px; }
}
@-moz-keyframes animate-albmhdr-stripes {
   100% { background-position: 14em 0px; }
}
@keyframes animate-albmhdr-stripes {
   100% { background-position: 14em 0px; }
}

.albm-elm {

}
.albm-elm.nontouch:hover {
    /*background-color: #FAFAFA;*/
    cursor: pointer;
    /*text-shadow:0px 0px 1px black;*/
}
.pict-elm {

}
/*.pict-elm.nontouch:hover {
    background: #E0E0E0;
}*/
.clearance {
    width:1%;
    height:1px;
    margin: 0px auto;
}
/*********************************************************************************/
.thmbbar {
    margin:0;
    padding:0;
    border-radius: 5px;
    clear:both;
}
.thmbbox {
    width:150px;
    height:150px;
    margin: 0 0 1px 1px;
    padding:0;
    /*box-shadow: 0px 0px 1px 0px black;*/
    /*display:inline-block;*/
    float:left;
    border-radius: 5px;
    /*-webkit-user-select: none;*/
}
.thmbbox.nontouch:hover {
    cursor: pointer;
}
.thmbboxCached {
    width:150px;
    height:150px;
    margin: 0 0 1px 1px;
    padding:0;
    float:left;
    border-radius: 5px;
    opacity: 0.2;
    /*-webkit-user-select: none;*/
}
.thmbboxCached.nontouch:hover {
    cursor: pointer;
}


.overlay-videothumb {
    width: 33%;
    height: 33%;
    position: absolute;
    top:33%;
    left:33%;
}
/**** Technical details square */
.techdet {
    width:100%;
    height:100%;
    text-align: center;
    position:relative;
    display:none;
    border-radius: 5px;
}
.techdet-txt {
    position:absolute;
    left:0px;
    width:100%;
    height:18px;
    display:inline-block;
    white-space: nowrap;
    overflow:hidden;
    background-color: rgba(0,0,0,0.4);
    color: white;
    line-height: 140%;
}
.techdet-txt-top{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    top:0px;
}
.techdet-txt-bottom{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    bottom:0px;
    font-size: 0.7em;
}
/**** The content of the elements */
.albmpict-title {
    font-size: 2em;
    display:inline-block;
    padding: 0.2em;
}
.albmpict-descr-right {
    font-size: 1em;
    position:absolute;
    right:0;
    padding:0.4em 2px;
    top:0;
    text-align: right;
}
.albmpict-descr-left {
    font-size: 1em;
    position:absolute;
    left:0;
    padding:0.4em 2px;
    top:0;
    text-align: left;
}


.albmpict-title-touch {
    width:100%;
    font-size: 1.5em;
    display:block;
    padding: 0;
}
.albmpict-descr-right-touch {
    font-size: 0.7em;
    max-width:45%;
    float:right;
    padding:0 2px;
    text-align: right;
}
.albmpict-descr-left-touch {
    font-size: 0.7em;
    max-width:45%;
    float:left;
    padding:0 2px;
    text-align: left;
}

.albmpict-timebar {
    width:99%;
    overflow-x:hidden;
    text-align: left;
    margin: 0 auto;
}
.albmpict-timebar-out {
    position:relative;
    display:inline-block;
    height:10px;
    /*margin: 6px 0px;*/
    background-color:white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.albmpict-timebar-in {
    position: absolute;
    top: 1px;
    display:inline-block;
    
    height:8px;
    background-color:orange;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.albmpict-timebar-txt-from {
    display:inline-block;
    padding: 0;
    text-align: right;
}
.albmpict-timebar-txt-until {
    display:inline-block;
    padding: 0 0 0.5em 0;
    float: right;
}

/**** current image*/
/*#imgdiv*/
/*.fsimg*/
/*.darkened {
    opacity:0.05;
    filter:alpha(opacity=5);*/ /* For IE8 and earlier */
/* } */
/**** imghelp layer*/
/*#imghelp*/
/*#imghelp_left*/
/*#imghelp_right*/
/*#imghelp_center*/
/*.imghelp-icon*/
/*#imghelp_gotit*/
/*#imghelp_gotit_btn*/
/*.imghelp-text-black*/
/*.imghelp-text-white*/

#img-info {
    /*width:360px;*/
    background-color: white;
    opacity: 0.8;
    position:absolute;
    bottom:5px;
    right:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
#img-info:hover {
    opacity:1;
}
#img-text h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}
#img-text h2 {
    font-size: 1.1em;
    margin: 0.3em auto 0 auto;
}
#img-text h3 {
    font-size: 0.8em;
    font-weight: lighter;
    margin: 0 auto;
}
#img-text h4 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin: 0.1em auto 0 auto;
    color: black;
}
#img-text table {
    text-align: left;
    border-spacing: 0;
    width:96%;
    margin: 1em auto;
}
#img-text table .right {
    text-align: right;
}
#img-text table .center {
    text-align: center;
}
#img-text table .originalimg {
    text-align: center;
    font-size: 0.8em;
}

#img-text-mini {
    text-align:left;
    font-size: 0.7em;
}
#img-text-mini table {
    width:100%;
    border-spacing:0;
}
#img-text-mini td {
    padding: 0.1em 1em;
    white-space:nowrap;
    overflow-y:hidden;
    text-overflow: ellipsis;
}
#img-text-mini .nr-pics {
    text-align:right;
    font-style: italic;
    color: black;
}
#img-text-mini .date {
    font-weight: bold;
}
#img-text-mini .scaling {
    text-align:right;
    font-style: italic;
}


.nowrap {
    white-space:nowrap;
}
#picinfo {
    margin:2px;
    width:30px;
    height:30px;
}

#zoom {
    width:34px;
    height:34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    position: absolute;
    bottom:5px;
    left:5px;

    background-color: white;
    opacity: 0.8;
}
#zoom:hover {
    opacity:1;
}

#min-resolution {
    width:28px; /*34-3-3 (3==padding)*/
    height:28px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    position: absolute;
    bottom:5px;
    left:49px;
    padding:3px;

    background-color: white;
    opacity: 0.8;
}
#min-resolution:hover {
    opacity:1;
}

#min-res-container {
    display:none;
    position:absolute;
    bottom:44px;
    left:49px;
    width:400px;
    height:200px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: white;
    opacity:0.8;
    text-align: center;
}
#min-res-container:hover {
    opacity:1;
}
#min-res-container h1 {
    font-size: 1.4em;
    margin-bottom: 0;
}
#min-res-container h2 {
    font-size: 1.1em;
    margin: 0.5em auto 0.7em auto;
}
#min-res-container button {
    width:80%;
    border: solid 1px #808080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    text-decoration:none;
}
#min-res-container button:hover {
    background-color: #F0F0F0;
}
#min-res-container button:disabled {
    background-color:white;
    color:#C0C0C0;
    border-color:#C0C0C0;
}
#min-res-container label {
    width:80%;
    display:inline-block;
    text-align:left;
}
#min-res-container label:hover {
    background-color: #F0F0F0;
}
#min-res-this,#min-res-all {
    width:50%;
    height:80%;
    position:absolute;
    bottom:0;
    line-height:1.4em;
}
#min-res-this {
    left:0;
}
#min-res-all {
    right:0;
}

    /*
#img-info h3 {
    font-size: 0.8em;
    font-weight: lighter;
    margin: 0 auto;
}*/






#img-map {
    width:358px;
    height:240px;
    margin:1px;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*opacity: 1; -> a child cannot be less opaque than its parent*/
}

#fsimg-spinner-box{
    width: 50px;
    height:50px;
    position: absolute;
    top:0;
    right:0;
    /*display: none;*/
}



/**** Settings*/

#menu-box {
    background-color: white;
    color:black;
    
    border: thin solid;
    border-color: gray;
    box-shadow: 0 0 0.3em gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    /*-webkit-user-select: none;*/
    
    /*display:inline-block;*/
    position: absolute;
    top: 2.4em;
    right: 1px;
    
    z-index:20;
    padding: 0.5em 0;
    text-align: left;
}
.menu-item {
    padding: 0.5em 1em;
    min-width: 150px;
}
.menu-item-disabled {
    padding: 0.5em 1em;
    min-width: 150px;
    color: #D0D0D0;
}
.menu-item:hover{
    background-color: black;
    color:white;
}
#menu_attention {
    height: 1em;
    width: 1em;
}

/*#settings_bg*/
#settings_box {
    background-color: white;
    color:black;
    
    border: thin solid;
    border-color: #DDDACF #CCC8B8 #BBB59F #CCC8B8;
    box-shadow: 0 0 0.3em #CCC8B8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /*-webkit-user-select: none;*/
    
    display:inline-block;
    top: 20%;
    position: relative;
    text-align: center;
    max-width: 80%;
    padding:0;
    opacity: 0;
    transition: opacity 0.3s linear;
}

#settings_header {
	text-align: left;
	background-color: #F0F0F0;
	
	padding:1em;
	white-space: nowrap;
}

#settings_title {
	font-size: 1.1em;
	padding:0 3em 0 0;
	margin:0;
	white-space: nowrap;
}

#settings_dismiss {
	position: absolute;
	top: 0;
	right: 0;
    width:0.7em;
    height:0.7em;
    padding: 0.7em 0.7em 2em 2em;
    opacity:0.3;
}
#settings_dismiss:hover {
    opacity:1;
}
.settings-item {
	padding:1em 1em 0 1em;
}
.settings-item p {
	margin-top: 0;
	font-weight: normal;
	font-size: 1em;
}



#csaName, #settings_lnk_link {
	font-size: 1em;
	margin: 0;
}
#csaCreate {
	margin-left: 0.5em;
}

#ph_dropzone {
    max-height: 360px;
    overflow: scroll;
    
    background-color: white;
    border: none;
}
#ph_dropzone.dz-drag-hover {
	background-color: #F0F0F0;
}
.dz-preview {
    opacity: 0.99;
}

#upl_progress, #uplCancel {
	opacity: 0; 
}

#upl_progress,#zip_progress {
    width:100%;
    margin: 10px 0 10px 0;
    
    border-radius: 5px; /* (height of inner div) / 2 + padding */
    padding: 0;
  
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25));
    background-image: linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25));
    background-size: 100% 100%;
}

#upl_progress_bar,#zip_progress_bar {
    width: 0; 
    height: 6px;
    border-radius: 3px;
   
    background-image: -webkit-linear-gradient(top, rgb(0, 240, 0), rgb(0, 150, 0));
    background-image: -moz-linear-gradient(top, rgb(0, 240, 0), rgb(0, 150, 0));
    background-image: linear-gradient(top, rgb(0, 240, 0), rgb(0, 150, 0));
    background-size: 100% 100%;
    
    /*transition: width 0.2s ease;*/
}

#settings_lng {
    text-align: left;
}
.fs-dlg-button{
    display:block;
    width:90%;
    font-size:1em;
    margin: 1em auto;
}
.settings-small-txt{
    font-size:0.7em !important;
    text-align: center !important;
}

#settings_abt p {
	text-align: left;
}

.settings_abt_name {
	width: 20em;
	display: inline-block;
}






#message-box{
    background-color: white;
    color:black;
    
    border: thin solid;
    border-color: #DDDACF #CCC8B8 #BBB59F #CCC8B8;
    box-shadow: 0 0 0.3em #CCC8B8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /*-webkit-user-select: none;*/
    
    display:inline-block;
    top: 30%;
    position: relative;
    text-align: center;
    max-width: 40%;
    padding: 1em;
}
#message-box-msg{
    padding-bottom: 1em;
}



#bitrate,#fs_bitrate {
    position:absolute;
    top:0.6em;
    right:5px;
    z-index: 200;
    color:white;
    font-size: 0.75em;
    display: block;
    
    /*transition: opacity 1s linear;*/
}

#sessions,#fs_sessions {
    position:absolute;
    top:2.1em;
    right:5px;
    z-index: 200;
    color:white;
    font-size: 0.75em;
    display: block;
}
#next-pic-ready {
    position:fixed;
    top:2.6em;
    right:2px;

    width: 1em;
    height: 1em;
    visibility: hidden;
}

/* Authenticate page */
#authBg {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

    background: url("/images/authBg.jpg") no-repeat fixed center center;

    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    z-index: 100;
    display: none;
}

#authHeader {
    background-color: black;
    color: white;
    width: 100%;
    height: 3em;
    text-align: center;
    overflow: hidden;
    position:fixed;
    top:0;
    left:0;
    /*transition: top 1s ease;*/
    box-shadow: 0px 0px 30px 5px black;
    z-index: 101;
    display: none;
}

#authServerName {
    font-size: 2em;
    margin: 0.25em 0;/*1.3em*/
}

#authWrapper {
    position: fixed;
    top:3em;
    bottom:0;
    left:0;
    right:0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    opacity:0;

    font-size: 1.4em;

    z-index:100;
    display:none;

    transition: opacity 0.5s;
}

.authSpace {
    width:100%;
}
#authBox {
    width:20em;

    margin: 0 auto;
    padding: 0.8em 0;
    text-align: center;

    background: white;
    box-shadow: 0px 0px 30px -3px black;
}
#forbiddenBox {
    /* width depends on resolution*/
    margin: 0 auto;
    padding: 0.8em 0;
    text-align: center;

    background: white;
    box-shadow: 0px 0px 30px -3px black;
}

#authBox p {
    text-align:right;
    margin: 0.2em 0;
}
#forbiddenBox p {
    text-align:justify;
    margin: 0.2em 2em;
}
#authBox h2, #forbiddenBox h2 {
    text-align:center;
    margin:0.5em 1em;
    font-size: 1.1em;
}
#authBox label {
    display:block;
    text-align:center;
    font-size: 1em;
}

#authRemember {
    display:none;
}
#authRemember + label {
    cursor:pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
#authRemember + label span {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 4px -2px 0;
    cursor:pointer;
    background:url('/ct/checkmark-unchecked.svg') left top no-repeat;
    background-size: 100% 100%;
}
#authRemember:checked + label span {
    background:url('/ct/checkmark-checked.svg') left top no-repeat;
    background-size: 100% 100%;
}*/

#authRemember + label svg  {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 4px -2px 0;
    cursor:pointer;
}

#authRemember + label #authCheckboxChecked  {
    display:none;
}
#authRemember + label #authCheckboxUnchecked  {
    display:inline;
}
#authRemember:checked + label  #authCheckboxChecked {
    display:inline;
}
#authRemember:checked + label  #authCheckboxUnchecked {
    display:none;
}


/*
#authRemember {
    font-size: 1em;
    height: 1em;
    width: 1em;
    margin: 0;
    padding:0;
    vertical-align: baseline;
}*/

.authTxtInput {
    font-size: 1em;
    width: 60%;
    border-radius: 0.5em;

    padding: 0 0.5em;
    margin: 0 0.5em 0 0.2em;

    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.authTxtInput:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}


#authSignIn, #authCancel {
    font-size:1.2em;
    border-radius: 0.5em;
    background-color: white;
    border: solid 1px #dcdcdc;
    padding: 0.2em 0.5em;
    margin: 0.7em 0.5em 0 0.5em;
    transition: box-shadow 0.3s, border 0.3s;
}
#authSignIn:focus, #authSignIn:hover, #authCancel:focus, #authCancel:hover {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

#authSpinnerBox {
    font-size:1.2em;
    height: 1.6em;
    margin-top: 0.7em;
    position: relative;
    display:none;
}


/* Configuration page */
#config-box {
    background-color: white;
    color:black;

    border: thin solid;
    border-color: #DDDACF #CCC8B8 #BBB59F #CCC8B8;
    box-shadow: 0 0 0.3em #CCC8B8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /*-webkit-user-select: none;*/

    display:inline-block;
    top: 20%;
    position: relative;
    text-align: left;
    /*max-width: 80%;*/
    max-width: 45em;
    min-width: 20em;
    min-height:15em;
    
    opacity: 0;
    transition: opacity 0.3s linear;
}
#config-box p {
    margin:1em;
}
#config-box p.small-header {
    margin-bottom:0.2em;
    font-weight: bold;
}
#config-box h1 {
    margin-right:1em;
    margin-left:1em;
}
#config-box ul {
    margin: 0.2em 1em 0.2em 0;
}

#config-box table {
    margin-right:1em;
    margin-left:1em;
    border-collapse: collapse;
    border: 1px solid black;
}
#config-box th {
    border: 1px solid black;
    padding: 0.2em 0.5em;
    text-align: center;
    background-color: grey;
    color: white;
}
#config-box td {
    border: 1px solid black;
    padding: 0.1em 0.3em;
}
#config-box td input {
    border: 0px;
    font-size:1em;
}
#config-box td button {
    font-size:1em;
    border-radius: 0.5em;
    background-color: white;
    border: solid 1px #dcdcdc;
    padding: 0.2em 0.5em;
    margin: 0.1em;
    transition: box-shadow 0.3s, border 0.3s;
}

#config-box td button:focus, #config-box td button:hover {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
#config-box td button:disabled {
    border: solid 1px #dcdcdc;
    color: #dcdcdc;
    box-shadow: none;
}

#config-box td.center {
    text-align: center;
}

#config-register-un {
    font-size:1em;
    border-radius: 0.5em;
    border: solid 1px #dcdcdc;
    padding: 0.1em 0.5em;
    text-align:center;
}

.config-btn-bar {
    position: absolute;
    bottom:0.66em;
    left: 0.66em;
    right:0.66em;
    margin-top:0.66em;
    clear: both;
    font-size:1.5em;
    text-align: center;
}

.config-btn-next {
    float: right;
}
.config-btn-prev {
    float: left;
}
.config-btn-next, .config-btn-prev, .config-btn-cancel{
    font-size:1em;
    border-radius: 0.5em;
    background-color: white;
    border: solid 1px #dcdcdc;
    padding: 0.2em 0.5em;
    margin: 0;
    width: 6em;
    transition: box-shadow 0.3s, border 0.3s;
}
.config-btn-next:focus, .config-btn-next:hover, .config-btn-prev:focus, .config-btn-prev:hover, .config-btn-cancel:focus, .config-btn-cancel:hover {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
.config-btn-next:disabled {
    border: solid 1px #dcdcdc;
    color: #dcdcdc;
    box-shadow: none;
}

#config-box h1 {
    text-align: center;
}

#config-p2a-lan-div {
    width:50%;
    float: left;
}
#config-p2a-inet-div {
    width:50%;
    float: right;
}
